@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300&display=swap');

:root {
    --dark-blue: #3b1e6a;
    --green: #67823e;
    --light: rgba(255, 255, 255, 0.8);
    --purple: #a37cd0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 3;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.25rem;
    padding: 1.25rem 1.875rem;
}

.nav img {
    width: 1.875rem;
}

.title {
    font-family: 'Dancing Script', cursive;
    font-size: 1.375rem;
    color: var(--dark-blue);
}

.banner-container {
    width: 100%;
    height: 90vh;
    background-image: url("https://images.unsplash.com/photo-1571779719707-0f24f62ab4fc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=821&q=80");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3.75rem 0;
}

.banner-box {
    width: 50%;
    height: 42%;
    padding: 1.875rem;
    text-align: center;
    background-color: var(--light);
}

.banner-box h2 {
    font-family: 'Source Serif Pro', serif;
    text-transform: uppercase;
    font-size: 2.75rem;
    color: var(--dark-blue);
    margin: 1.5rem 0;
}

.btn-shop {
    font-family: 'Source Serif Pro', serif;
    text-transform: uppercase;
    color: white;
    background-color: var(--green);
    border: 1px solid var(--green);
    font-size: 1rem;
    padding: 1rem 1.125rem;
}

.btn-shop:hover {
    background: transparent;
    color: var(--dark-blue);
    border-color: var(--dark-blue);
    transition: .5s ease;
}

.products-title h3 {
    text-align: center;
    margin: 50px 0;
    font-family: 'Source Serif Pro', serif;
    font-weight: 600;
    font-size: 2rem;
    color: #222222;
}

.products-container {
    display: flex;
    justify-content: space-around;
    gap: 45px;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.product-card {
    width: 220px;
    margin-bottom: 1rem;
}

.product-card img {
    width: 100%;
    height: 80%;
    border: 1px solid #cdc9c9;
}

.product-name {
    font-family: 'Source Serif Pro', serif;
    padding: 10px 0;
    color: #222222;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-price {
    font-family: 'Source Serif Pro', serif;
    color: red;
    font-weight: 300;
}

.cart-button {
    border-radius: 4px;
    background-color: var(--purple);
    border: none;
    color: #FFFFFF;
    font-family: 'Source Serif Pro', serif;
    padding: 7px 17px;
    margin-top: 10px;
}

@media screen and (min-width: 300px) and (max-width: 580px) {
    .banner-box h2 {
        font-size: 1.5rem;
        margin: 1rem 0;
    }
}

@media screen and (min-width: 581px) and (max-width: 730px) {
    .banner-box h2 {
        font-size: 2rem;
        margin: 1rem 0;
    }
}

@media screen and (min-width: 731px) and (max-width: 1000px) {
    .banner-box h2 {
        font-size: 2.25rem;
        margin: 1rem 0;
    }
}

