:root {
    --dark: #333333;
    --pink: rgba(255, 166, 168, 0.75);
    --dark-pink: #ffa6a8;
    --light: rgba(255, 255, 255, 0.8);
    --blue: #257b90;

    --shadow: rgba(221, 221, 221, 1);
    --font-transparency: rgba(51, 51, 51, 0.8);

    --white: rgba(255, 255, 255, 0.40);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER STYLES */

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.75rem;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 3;
    box-shadow: 0 0 12px 1px var(--shadow);
}

.site-logo img {
    width: 5.5rem;
}

.site-logo:hover {
    cursor: pointer;
}

.nav ul {
    width: 31.75rem;
    display: flex;
    justify-content: space-around;
}

.nav-item {
    list-style: none;
}

.nav-item a {
    font-family: 'El Messiri', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--dark);
    text-decoration: none;
    transition: 0.2s linear;
}

.nav-item a:hover {
    cursor: pointer;
    color: var(--dark-pink);
}

.icons-box {
    display: flex;
    justify-content: space-between;
    width: 25%;
    gap: 10px;
}

.icons-box div a {
    text-decoration: none;
    color: var(--dark);
    font-family: 'El Messiri', sans-serif;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: 0.2s linear;
}

.icons-box div a:hover {
    cursor: pointer;
    color: var(--font-transparency);
}

.sign-up a {
    border: 1px solid var(--dark);
    border-radius: 6px;
}

.bag-icon img {
    width: 1.75rem;
}

.bag-icon:hover {
    cursor: pointer;
}

/* MAIN STYLES */

.main-container {
    margin-top: 12rem;
}

/** cart-banner **/

.cart-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-container h2 {
    font-family: 'El Messiri', sans-serif;
    font-weight: 600;
    font-size: 3.5rem;
}

/** cart-box **/

.cart-box-titles {
    width: 100vw;
    max-width: 1050px;
    display: grid;
    grid-template-columns: 35% 20% 20% 20% 5%;
    justify-content: center;
    background-color: var(--pink);
    padding: 1rem;
    box-shadow: var(--shadow);
}

.cart-box-titles div p {
    font-family: 'El Messiri', sans-serif;
    font-size: 1rem;
}

.cart-box-item {
    width: 100vw;
    max-width: 1050px;
    display: grid;
    grid-template-columns: 35% 20% 20% 20% 5%;
    justify-content: center;
    background-color: var(--light);
    padding: 1rem;
    box-shadow: var(--shadow);
}

.product-data {
    display: flex;
    gap: 1rem;
}

.product-data img {
    width: 3rem;
    height: 3rem;
}

.product-data p {
    font-family: 'El Messiri', sans-serif;
    font-size: 1.25rem;
    margin-top: 12px;
    color: var(--dark);
}

.amount input {
    width: 130px;
    padding: 10px;
    color: var(--dark);
    font-family: 'El Messiri', sans-serif;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid var(--dark);
}

/*.amount {
    display: flex;
    justify-content: flex-start;
    gap: 35px;
    align-items: center;
    font-family: 'El Messiri', sans-serif;
    font-size: 1.25rem;
}*/

.amount button {
    border: none;
    appearance: none;
    background: none;
    font-size: 1.25rem;
}

.item-price p, .item-total-price p {
    font-family: 'El Messiri', sans-serif;
    font-size: 1.25rem;
    margin-top: 12px;
    color: var(--dark);
}

.remove img {
    width: 1.5rem;
    margin-top: 12px;
}

.remove img:hover {
    cursor: pointer;
}

.sumup-box {
    width: 100vw;
    max-width: 1050px;
    display: grid;
    justify-content: end;
    margin-top: 1rem;
}

.cart-btn {
    width: 100vw;
    max-width: 1050px;
    display: flex;
    justify-content: space-between;
    grid-template-columns: 50% 50%;
    margin-top: 1rem;
}

.text {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 0 1rem;
}

.text p {
    font-family: 'El Messiri', sans-serif;
    font-size: 2rem;
}

.cart-btn button {
    border: none;
    background-color: var(--dark-pink);
    color: white;
    font-family: 'El Messiri', sans-serif;
    font-size: 1.125rem;
    padding: 5px 48px;
    text-transform: uppercase;
}

.cart-btn button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 19px 1px var(--shadow);
}

.cart-btn p a {
    font-family: 'El Messiri', sans-serif;
    font-size: 1rem;
}

@media screen and (max-width: 1024px) {
    .nav {
        display: none;
    }

    .site-logo {
        margin-left: 40%;
    }

    .cart-container h2 {
        font-size: 2rem;
    }

    .product-data p {
        font-size: 1rem;
    }

    .amount input {
        width: 70px;
    }

    .item-price p, .item-total-price p {
        font-size: 0.9rem;
    }
}
